node_modules
dist
.env
.env.local
pnpm-debug.log*

# Generated
apps/api/src/schema.gql
apps/web/src/lib/graphql/__generated__

# TypeScript build artifacts
*.tsbuildinfo
apps/web/vite.config.js
apps/web/vite.config.d.ts
apps/web/codegen.js
apps/web/codegen.d.ts

# OS
.DS_Store

# CLAUDE
CLAUDE.md
.claude/*

.mcp.json

DESIGN.md

context/